.container-fluid{
    padding: 0px;
}

.contenedor-nav{
    padding: 10px 20px;
    background-color: #112017;    
}

.contenedor-nav a,div{
    color: #ffffff;
    font-weight: 500;
}

.sesion{
    background-color: #38E07B;
    color: black;
    font-weight: 500;
    border-color: #ffffff00;
    align-self: right;
}

.sesion:hover{
    background-color: #5ff29c;
    border-color: #ffffff00;
}

.sesion:active{
    background-color: #8ce0a9;
    border-color: #ffffff;
}


.nav{
    margin: 0 auto;
}

.inicio{
    color: #ffffff;
    padding-top: 200px;
    padding-bottom: 200px;
    margin: 0px;
    width: 100%;
    height: auto;
    text-align: center;
  /* Imagen de fondo */
  background-image: 
    linear-gradient(to top, rgba(18,33,24,1) 40%, rgba(18,33,24,0.6) 100%), 
    url('../img/fondo.jpg');
  background-size: cover;       /* Ajusta la imagen al div */
  background-repeat: no-repeat; 
  background-position: center 20% ;

}


.informacion-inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.informacion-inicio .texto, .botones{
    max-width: 600px;
    margin-top: 40px;   
}

.botones{
    margin-bottom: 150px;
}


.informacion-inicio p {
    color: #b9b7b7;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.informacion-inicio button{
    border-radius: 25px;
    margin: 10px;
    font-size: 20px;
    padding: 10px 20px;
    border: 0px;
}

.explorar{
    background-color: #38E07B;
    color: black;
    font-weight: 500;
}

.explorar:hover{
    background-color: #5ff29c;
    color: black;
}

.explorar:active{
    background-color: #8ce0a9;
    color: black;
}

.conocer{
    background-color: rgba(78, 102, 91, 0.5);
    font-weight: 500;
}

.conocer:hover{
    background-color: #6B8076;
    color: white;
}

.conocer:active{
    background-color: #4E665B;
    color: white;
}


.informacion-inicio .servicios{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.informacion-inicio .contacto{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.tarjeta{
    background-color: #1c3626;
    margin: 15px;
    max-width: 370px;
    padding: 30px 15px;
    border-radius: 30px;
    text-align: center;
}

.tarjeta p{
    text-align: center;
    margin-top: 10px;
}

.descripcion{
    margin-bottom: 40px;
}

.container-d{
    padding: 40px 0px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    margin: 0px;
    text-align: center;
}

.container-datos{
    background-color: #162A1E;    
    display: flex;
    justify-content: center;
    padding: 0px;
}

.datos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-nav{
    margin: 0 auto;
    align-items: center;
}

.contacto{    
    display: flex;
    justify-content: center;
    padding: 0px;
}

.contacto p{
    text-align: center;
    margin-top: 20px;
} 

.servicios p{
    text-align: center;
    margin-top: 20px;
}